<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4>注文履歴詳細</h4>
      <table class="table table-borderless">
        <tr>
          <th>購入者</th>
          <td>
            <%= link_to admin_customer_path(@order.customer) do %>
              <%= @order.customer.full_name %>
            <% end %>
          </td>
        </tr>

        <tr>
          <th>注文日</th>
          <td><%= @order.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
        </tr>

        <tr>
          <th>配送先</th>
          <td>
            〒<%= @order.postcode %>
            <%= @order.address %><br>
            <%= @order.name %>
          </td>
        </tr>

        <tr>
          <th>支払方法</th>
          <td><%= @order.payment_method_i18n %></td>
        </tr>

          <tr>
            <th>注文ステータス</th>
            <td>
              <%= form_with model: @order, url: admin_order_path, method: :patch do |f| %>
               <%= f.select :status, Order.statuses_i18n.invert, {}, class:"form-control col-10" %>
                <%= f.submit '更新', class:"btn col-10", style: "background-color: #64CCC5; color: white;" %>
              <% end %>
            </td>
          </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <table class="table table-bordered">
        <thead class="bg-light table table-borderless">
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="table table-borderless">
          <% @order.order_details.each do |order_detail| %>
            <tr class="border-bottom">
              <td class="align-middle"><%= order_detail.item.name %></td>
              <td class="align-middle">¥<%= order_detail.tax_price.to_s(:delimited) %></td>
              <td class="align-middle"><%= order_detail.count %></td>
              <td class="align-middle">¥<%= order_detail.total_price.to_s(:delimited) %></td>
              <td>
                <%= form_with model: order_detail, url: admin_order_detail_path(order_detail), method: :patch do |f| %>
                  <%= f.select :making_status, OrderDetail.making_statuses.keys.map { |status| [I18n.t("enums.order_detail.making_status.#{status}"), status] }, {}, class: "form-control" %>
                  <%= f.submit '更新', class:"btn form-control", style: "background-color: #64CCC5; color: white;" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-3">
      <table class="table table-borderless">
        <tr>
          <th>商品合計</th>
          <td>¥<%= @total.to_s(:delimited) %></td>
        </tr>

        <tr>
          <th>送料</th>
          <td>¥<%= @order.shipping_fee %></td>
        </tr>

        <tr>
          <th>請求金額</th>
          <td>¥<%= @order.total_amount.to_s(:delimited) %></td>
        </tr>
      </table>
    </div>
  </div>
</div>