<h3>ショッピングカート</h3>

<div class="destroy_all">
  <%= "カートを空にする", class: "btn btn-danger btn-sm" %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @cart_items.each do |cart_item| %>
    <tr>
      <td><%= cart_item.item.image %><%= cart_item.item.name %></td>
      <td><%= cart_item.item.with_tax_price%></td>
      <td><%= cart_item.item.count %><%= "変更", class: "btn btn-success btn-sm" %></td>
      <td><%= cart_item.subtotal %></td>
      <td><%= "削除する", class: "btn btn-danger btn-sm" %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= "買い物を続ける", class: "btn btn-primary btn-sm" %>

<table class="table">
  <tr>
    <th>合計金額</th>
    <td><%= @total += @cart_items.subtotal %></td>
  </tr>
</table>

<%= "情報入力に進む", class: "btn btn-success btn-sm" %>