<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="my-5">注文情報入力</h4>

      <%= form_with model: @order, url: "/orders/check", method: :post, local: true do |f| %>
      <div class="payment mb-3">
        <h4><strong>支払方法</strong></h4>
        <div class="form-group ml-4">
          <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
          <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %><br />
          <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
          <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%>
        </div>
      </div>

      <div class="address">
        <h4><strong>お届け先</strong></h4>
        <div class="my_address ml-4">
          <%= f.radio_button :select_address, 0, checked: true %> ご自身の住所<br />
          <p class="ml-3">
            〒<%= @customer.postcode %>
            <%= @customer.address %>
            <%= @customer.full_name %>
          </p>
        </div>
        <div class="register ml-4">
          <%= f.radio_button :select_address, 1 %> 登録済住所から選択<br />
          <p class="ml-3"><%= f.select :address_id, options_from_collection_for_select( Address.all, :id, :full_address ), placeholder: "配送先を登録してください" %></p>
        </div>
        <div class="new_address ml-4">
          <%= f.radio_button :select_address, 2 %> 新しいお届け先
          <div class="ml-3">
            <table>
              <tr>
                <td>郵便番号(ハイフンなし)</td>
                <td><%= f.text_field :postcode %></td>
              </tr>
              <tr>
                <td>住所</td>
                <td><%= f.text_field :address %></td>
              </tr>
              <tr>
                <td>宛名</td>
                <td><%= f.text_field :name %></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="row justify-content-center mt-3 mb-5">
        <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>