<div class="row mb-5">

  <%# <%= render s %>

  <div class="col-md-9">
    <div class="d-flex">
      <h2 class="my-2 mr-auto"><b>検索一覧</b>(全<%= @items.count %>件)</h2>
      <%= link_to '一覧へ戻る', items_path, class:"mt-4" %>
    </div>
      <% @items.each do |item| %>
        <div class="d-inline-flex">
          <div class="items my-3 text-truncate" style="width: 198px;">
            <%= link_to item_path(item) do %>
              <%= image_tag item, size: "190x160", class:"mx-1" %><br>
            <% end %>
            <%= item.name %><br>
            ¥<%= item.with_tax_price.to_s(:delimited) %>
            <div class="">
              <%# <% if item.status == "販売中" %>
               <%# <b class="text-success"><%= item.status %></b>
              <%# <% else %>
               <%# <b class="text-secondary"><%= item.status %></b>
              <%# <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="mx-auto mb-5">
          <%= paginate @items, class: "col-md-9" %>
        </div>
      </div>
  </div>
</div>