<div class='container'>
  <div class='row mt-5'>
    <div class="col-md-2">
      <%= render "genre", genre: @genres %>
    </div>
    <div class="col-md-4">
      <%= image_tag @item.image, size: "300x200" %>
    </div>
    <div class="col-md-6">
      <h2><%= @item.name %></h2>
      <h4 class= "mb-3"><%= @item.introduction %></h4>
      <h3>¥<%= @item.with_tax_price.to_s(:delimited) %>(税込)</h3>
      <%= form_with model: @cart_item, method: :post do |f| %>
      <%= f.select :count, 1..10, prompt: "個数選択" %>
      <%= f.submit "カートに入れる", class: "btn btn-success" %>
      <%= f.hidden_field :customer_id, :value => current_customer.id %>
      <%= f.hidden_field :item_id, :value => @item.id %>
      <% end %>
    </div>
  </div>
</div>