<header class="sticky-top">
  <nav class="navbar navbar-expand-lg py-4">
    <a>
      <%= link_to root_path, data: { "turbolinks" => false }, class: "mx-4" do %>
        <%= image_tag "logor1.png", alt: "LOGO", size: "90x80" %>
      <% end %>
    </a>

      <%= render 'layouts/search', q: @q %>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-5 d-flex ml-auto">
      <% if admin_signed_in? %>
      <li>
        <div class="d-flex justify-content-center align-items-center mr-5">
          <h5 class="mb-0 font-weight-bold">管理者ログイン中</h5>
        </div>
        </li>
      <% end %>

        <% if customer_signed_in? %>
          <li>
            <%= link_to items_path do %>
              <h5>ITEM</h5>
            <% end %>
          </li>

        <% if current_page?(root_path) %>
          <li>
            <div class="category-container ml-3" id="categoryContainer">
              <h5>CATEGORY</h5>
              <div class="category-dropdown" id="categoryDropdown">
                <ul>
                  <li>
                    <% @genres.each do |genre| %>
                　　　　<%= link_to genre.name, genre_path(genre) %>
                　　　<% end %>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        <% end %>

          <li>
            <div class="mypage-btn-container" id="mypageBtnContainer">
              <button class="btn btn-lg mx-3" style="background-color:#FF9494; color: white;"><%= current_customer.full_name %>様</button>
              <div class="mypage-dropdown" id="mypageDropdown">
                <ul>
                  <li><%= link_to 'マイページ', customers_mypage_path %></li>
                  <li><%= link_to '配送先', addresses_path %></li>
                  <li><%= link_to '注文履歴', orders_path %></li>
                  <li><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete %></li>
                </ul>
              </div>
            </div>
          </li>

          <li>
            <%= button_to cart_items_path, method: :get, class: "btn btn-lg mx-3", style: "background-color:#FF9494; color: white;" do %>
              <i class="fas fa-shopping-cart"></i>
            <% end %>
          </li>

        <% elsif admin_signed_in? %>

          <li>
            <%= link_to '商品一覧', admin_items_path, class: "btn mx-3", style: "background-color: #FF9494; color: white;" %>
          </li>

          <li>
            <%= link_to '会員一覧', admin_customers_path, class: "btn mx-3", style: "background-color: #FF9494; color: white;" %>
          </li>

          <li>
            <%= link_to '注文履歴一覧', admin_orders_path, class: "btn mx-3", style: "background-color: #FF9494; color: white;" %>
          </li>

          <li>
            <%= link_to 'ジャンル一覧', admin_genres_path, class: "btn mx-3", style: "background-color: #FF9494; color: white;" %>
          </li>

          <li>
            <%= link_to '管理者ログアウト', destroy_admin_session_path, method: :delete, class: "btn mx-3", style: "background-color: #FF9494; color: white;" %>
          </li>

        <% else %>
          <li class="mr-3">
            <%= link_to customers_about_path do %>
              <h5>ABOUT</h5>
            <% end %>
          </li>

          <li class="mr-3">
            <%= link_to items_path do %>
              <h5>ITEM</h5>
            <% end %>
          </li>

          <li>
            <div class="login-btn-container" id="loginBtnContainer">
              <button class="btn btn-lg mx-3" style="background-color:#FF9494; color: white;">LOGIN</button>
              <div class="login-dropdown" id="loginDropdown">
                <ul>
                  <li><%= link_to 'ログイン', new_customer_session_path %></li>
                  <li><%= link_to '新規会員登録', new_customer_registration_path %></li>
                </ul>
              </div>
            </div>
          </li>
        <% end %>

      </ul>

  </nav>
</header>